<% layout('layouts/boilerplate')%>
    <form action="/college/register" method="post">
        <label for="name">Username</label>
        <input type="text" id="name" name="username">
        <label for="collegename">College Name:</label>
        <input type="text" id="collegename" name="collegename">
        <label for="password">Password</label>
        <input type="password" id="password" name="password">
        <button>Submit</button>
    </form>