
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <nav>
        <a style="text-decoration: none;" href="/"><div class="logo">MindSparks</div></a>
          <!-- <input type="checkbox" id="click"> -->
          <label for="click" class="menu-btn">
              <i class="fas fa-bars"></i>
          </label>
          <ul>
              <li><a class="active" href="/">Home</a></li>
              <li><a class="active" href="/student">Available labs</a></li>
              <li><a class="active" href="/student/bookings">Booked Labs</a></li>
              <li><a class="active" href="/student/research">Research Projects</a></li>
              <li><a class="active" href="/student/logout">Logout</a></li>
          </ul>
      </nav>