
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <nav>
          <div class="logo">MindSparks</div>
          <!-- <input type="checkbox" id="click"> -->
          <label for="click" class="menu-btn">
              <i class="fas fa-bars"></i>
          </label>
          <ul>
              <li><a class="active" href="#">Home</a></li>
              <li><a class="active" href="#">Available labs</a></li>
              <li><a class="active" href="#">Booked Labs</a></li>
              <li><a class="active" href="#">Login</a></li>
          </ul>
      </nav>