<!DOCTYPE html>
<html>
<head>
 <title>bgdgg</title>
 <link rel="stylesheet" type="text/css" href="css/style.css">
 <link href="https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap" rel="stylesheet">
</head>
<body>
<header>
 <div class="mainheader">
  <div class="logo">
   <img src="images/logo.png">
  </div>



  <div class="menubtn">
   <button> HelpLine</button>
  </div>
 </div>

 <main>
  <section class="left-sec">
   <h2> We Are Here For Your Care</h2>
   <h1>  We The Best Doctors</h1>
   <p>We are here for your care 24/7. Any help just call us.</p>
   <button>
     Make an appointment
   </button>
  </section>

  <section class="right-sec">
   <figure>
    <img src="https://technext.github.io/medisen/img/ability_img.png">
   </figure>
  </section>
 </main>
</header>
</body>
</html>