<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>MindSparks</title>

  <link rel="stylesheet" href="css/style.css">

</head>

<body>
  <div class="home">
    <!-- <img src="imgs/background.png" class="hero-img" alt=""> -->
    <div class="home-content">
      <h2>Welcome to our</h2>
      <h1 class="labs">MindSpark Labs  <img style="height:80px;width: 80px; display: inline;"  src="https://cdn2.iconfinder.com/data/icons/electricity-colored-outline/64/b_9-256.png" alt=""></h1>
      <h2 style="margin-bottom: 60px; margin-left: 10px;">Connecting Bright Minds...</h2>
      <a style="text-decoration: none;" href="/student/login" class="btn-home">Student login</a>
      <a style="text-decoration: none;" href="/college/login" class="btn-home">College login</a>
    </div>
    <div class="side-bar">
      <!-- <img src="imgs/menu.png" class="menu"> -->
      <div class="social-links">
        <img src="./imgs/fb.png" class="social" alt="" />
        <img src="imgs/ig.png" class="social" alt="" />
        <img src="imgs/tw.png" class="social" alt="" />
      </div>
      
    </div>
    <div class="bubbles">
      <img src="imgs/bubble.png" alt="">
      <img src="imgs/bubble.png" alt="">
      <img src="imgs/bubble.png" alt="">
      <img src="imgs/bubble.png" alt="">
      <img src="imgs/bubble.png" alt="">
      <img src="imgs/bubble.png" alt="">
      <img src="imgs/bubble.png" alt="">
    </div>
  </div>
</body>
</html>



