.card {
    width: 360px;
    margin: auto;
    background-color: #fff;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.6);
    border-radius: 0.5rem;
  }
  
  .card-header {
    width: 100%;
  }
  
  .card-header img {
    width: 100%;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
  }
  
  .card-content {
    padding: 1rem;
  }
  
  .card-content span {
    background-color: #51adc4;
    color: #fff;
    font-weight: 300;
    font-size: 10px;
    padding: 0.5rem 0.75rem;
    border-radius: 1rem;
    text-transform: uppercase;
  }
  
  .card-content h3 {
    margin: 1rem 0 0.5rem 0;
  }
  
  .card-content p {
    font-size: 14px;
  }
  
  .card-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
  }
  
  .card-footer img {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .card-footer .author {
    flex: 1;
    margin-left: 1rem;
  }
  
  .author p {
    font-weight: 700;
    font-size: 14px;
  }
  
  .author small {
    font-size: 12px;
  }