@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

nav {
  height: 80px;
  background: #1b1b1b;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:0px 50px 0px 100px;
}

nav .logo{
    font-size:33px;
    color:#fff;
    font-weight:600;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin: 0 5px;
}

nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size:18px;
    font-weight:500;
    letter-spacing:1px;
    padding:8px 10px;
    border-radius:5px;
    transition:all 0.1s ease;
}


nav ul li a:hover,nav ul li a:active{
    color: #000;
    background-color: #fff;
    text-decoration: none;
}

nav .menu-btn i{
    color: #fff;
    font-size:22px;
    cursor: pointer;
    display: none;
}

#click:checked~ul{
    display: none;
}

@media (max-width:940px){
    nav .menu-btn i{
        display: block;
    }
    nav ul{
        position:fixed;
        top:80px;
        left:-100%;
        background:#111;
        height:100vh;
        width:100%;
        display:block;
        text-align:center;
        transition:all 0.3s ease;
    }
    #click:checked~ul{
        left:0%;
    }
    nav ul li{
        margin: 40px 0;
    }
    nav ul li a{
       font-size:20px;
       display: block;
    }
    nav ul li a:hover,nav ul li a:active{
        color: cyan;
        background: none;
    }
}