@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-image: url("https://img3.wallspic.com/crops/0/7/0/6/5/156070/156070-hexagon-honeycomb-azure-line-aqua-3840x2560.png");
  height: 100vh;
  display: grid;
  font-family: "Open Sans", sans-serif;
}

.profile {
  margin: auto;
  height: 500px;
  width: 400px;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  text-align: center;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  -ms-overflow-style: none;
  /* for Internet Explorer, Edge */
  scrollbar-width: none;
  /* for Firefox */
  overflow-y: scroll;
}

::-webkit-scrollbar {
  display: none;
  /* for Chrome, Safari, and Opera */
}

.header-color {
  border-radius: 20px 20px 0 0;
  padding-bottom: 150px;
  width: 400px;
  background: #152733;
}

.profile-pic img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  border: 10px solid #ffffff;
  margin-top: -100px;
}

.title {
  margin-bottom: 25px;
}

h1 {
  font-size: 32px;
  font-weight: 700;
  color: #131b23;
  margin-bottom: 10px;
  letter-spacing: 0.025em;
}

h2 {
  font-size: 18px;
  letter-spacing: 0.01em;
  color: #131b23;
}
h2 span {
  color: #4f759b;
  font-weight: 700;
}

.description {
  margin-bottom: 25px;
  color: #131b23;
  letter-spacing: 0.01em;
}
.description p:not(:last-child) {
  margin-bottom: 5px;
}

button {
  font-family: "Open Sans", sans-serif;
  color: #ffffff;
  background: #4f759b;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.025em;
  border: none;
  border-radius: 15px;
  min-height: 35px;
  width: 100px;
  margin-bottom: 25px;
  transition: all 0.2s ease;
  cursor: pointer;
}

button:hover {
  width: 115px;
  background: #4f759be0;
}

.images-container {
  width: 350px;
}
.images-container .image {
  margin-bottom: 25px;
}
.images-container .image img {
  width: 100%;
  border-radius: 5px;
  margin-bottom: 5px;
}
.images-container .image i {
  color: #9b1d20;
  display: flex;
  align-items: center;
  margin-left: 10px;
}
.images-container .image i span {
  margin-left: 5px;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #000000;
}
.home{
    display:flex;
    justify-content: space-between;
    margin-top: 30px;
    margin-left: 20px;
    margin-bottom: 20px;
}