<% layout('layouts/boilerplate')%>
    <link rel="stylesheet" href="/css/labform.css">

    <div class="form-body">
        <div class="row justify-center">
            <div class="form-holder">
                <div class="form-content">
                    <div class="form-items">
                        <h3>Add New Lab</h3>
                        <p>Fill in the data below.</p>
                        <form class="requires-validation" action="/lab" method="post" enctype="multipart/form-data">

                            <div class="col-md-12">
                                <input class="form-control" type="text" id="name" name="lab[name]"
                                    placeholder="Lab Name" required>
                            </div>

                            <div class="col-md-12">
                                <!-- <input class="form-control" type="email" name="email" placeholder="E-mail Address" required> -->
                                <input class="form-control" type="text" id="department" name="lab[department]"
                                    placeholder="Department" required>
                            </div>

                            <div class="col-md-12">
                                <input class="form-control" type="text" id="capacity" name="lab[capacity]"
                                    placeholder="Lab Capacity" required>
                            </div>


                            <div id="Slot" >
                                <button class="bg-transparent hover:bg-blue-500 text-white font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded" style="margin-left: 15px;text-align: center;margin-bottom: 20px;margin-top: 10px;" type='button' onclick="addSlot()" id="AddSlot">Add
                                    Slot</button>
                                <div id="Slot1"></div>
                            </div>

                            <div class="col-md-12" style="margin-bottom: 20px;">
                                <input type="file" name="images">
                            </div>


                            <div class="form-check">
                                <input class="form-check-input" style="margin-left: auto;" type="checkbox" value="" id="invalidCheck" required >
                                <label style="margin-left: 20px;" class="form-check-label">I confirm that all data are correct</label>
                            </div>


                            <div class="form-button mt-3">
                                <button id="submit" type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script src="/javascripts/labform.js"></script>
    <script src="/javascripts/dynamic.js"></script>