<% layout('layouts/boilerplate')%>
    <form action="/student/register" method="post">
        <label for="name">Username</label>
        <input type="text" id="name" name="username">
        <label for="collegename">Email:</label>
        <input type="email" id="email" name="email">
        <label for="password">Password</label>
        <input type="password" id="password" name="password">
        <button>Submit</button>
    </form>